{% extends "base.html" %}

{% block title %}Поставщики{% endblock %}
{% block content %}
<form class="form-horizontal" role="form" action="{% url 'infra:retailer_list' %}" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="id_name" class="col-sm-2 control-label">Название</label>
    <div class="col-sm-10">
      <input type="text" id="id_name" name="name" />
    </div>
  </div>
  <div class="form-group">
    <label for="id_contract_id" class="col-sm-2 control-label">Номер договора</label>
    <div class="col-sm-10">
      <input type="text" id="id_contract_id" name="contract_id" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Искать</button>
    </div>
  </div>
</form>
{% if retailers %}
    <div class="form-group">
    <div class="col-sm-10">
    {% for  retailer in retailers %}
        <p>==> <a class="{% cycle 'text-muted' 'test-info' %}" href="{% url 'infra:retailer_details' retailer.id %}">{{ retailer }}</a></p>
    {% endfor %}
    </div>
    </div>
    {% if retailers.paginator.num_pages and retailers.paginator.num_pages > 1 %}
    <div class="pagination">
      <span class="step-links">
        {% if retailers.has_previous %}
            <a href="?page={{ retailers.previous_page_number }}">Назад</a>
        {% endif %}
        <span class="current">
            Страница {{ retailers.number }} из {{ retailers.paginator.num_pages }}.
        </span>

        {% if retailers.has_next %}
            <a href="?page={{ retailers.next_page_number }}">Вперед</a>
        {% endif %}
      </span>
    </div>
    {% endif %}
{% else %}
    <p>Список поставщиков пуст.</p>
{% endif %}
{% endblock %}
