{% extends "base.html" %}

{% block title %}Узел: {{ node }}{% endblock %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Узлы" "infra:node_list" %}
  {% breadcrumb node "infra:node_details" %}
{% endblock %}
{% block content %}
{% if node %}
<table class="table">
    <tr>
        <td class="col-sm-2" >Имя хоста:</td><td>{{ node.hostname }}</td>
    </tr><tr>
        <td>Сервер:</td><td><a href="{% url 'infra:server_details' node.server.id %}">{{ node.server }}</a></td>
    </tr><tr>
        <td>Сборка:</td><td><a href="{% url 'infra:build_details' node.build.id %}">{{ node.build }}</a></td>
    </tr><tr>
        <td>Тип:</td><td>{{ node.conf_type }}</td>
    </tr><tr>
        <td>Прикрепленные IP адреса:</td>
        <td>
          <table class="table" style="width:20%">
          {% for ip in node.ip_list %}
            <tr><td><a href="{% url 'infra:ip_details' ip.id %}">{{ ip }}</a></tr></td>
          {% endfor %}
          </table>
        </td>
    </tr>
</table>
{% else %}
<p>Узел не найден.</p>
{% endif%}
{% endblock %}
